In [110]:
import spacy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

ModuleNotFoundError: No module named 'spacy'

In [41]:
df = pd.read_csv("C:\\Users\\Administrateur\\Desktop\\Amazon-Analysis-Project\\amazon.csv")
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [42]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [43]:
# top 5 meilleurs catégories

top_five_category = df["listed_in"].value_counts().head(5)
top_five_category

Drama              986
Comedy             536
Drama, Suspense    399
Comedy, Drama      377
Animation, Kids    356
Name: listed_in, dtype: int64

In [44]:
# Top 5 des réalisateurs

top_five_director = df["director"].value_counts().head(5)
top_five_director

Mark Knight              113
Cannis Holder             61
Moonbug Entertainment     37
Jay Chapman               34
Arthur van Merwijk        30
Name: director, dtype: int64

In [45]:
# Les dix meilleurs acteurs

top_ten_actors = df['cast'].str.split(',')
top_ten_actors.explode().value_counts().head(10)

Maggie Binkley        56
1                     35
Gene Autry            32
 Nassar               30
 Champion             29
Anne-Marie Newland    25
 Prakash Raj          23
Roy Rogers            23
Cassandra Peterson    22
John Wayne            21
Name: cast, dtype: int64

In [46]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [83]:
df_listed = df["listed_in"].str.split(', ')
df_listed.explode().value_counts()

Drama                        3687
Comedy                       2099
Action                       1657
Suspense                     1501
Kids                         1085
Documentary                   993
Special Interest              980
Horror                        875
Romance                       674
Animation                     547
and Culture                   483
Entertainment                 483
Arts                          483
Science Fiction               457
International                 355
TV Shows                      263
Adventure                     259
Western                       234
Sports                        160
Music Videos and Concerts     155
Unscripted                    152
Arthouse                      141
LGBTQ                         113
Young Adult Audience           87
Fitness                        83
Anime                          80
Fantasy                        68
Faith and Spirituality         66
Military and War               44
Historical                     31
Talk Show and Variety          14
Name: listed_in, dtype: int64

In [92]:
# Les cinq meilleures séries télévisées avec le plus grand nombre de saisons.
tv_shows = df.loc[df["listed_in"].str.contains("TV Shows", na=False), ["listed_in", "duration"]]
tv_shows.sort_values(by='duration', ascending=False).head(5)

     listed_in   duration
800   TV Shows  9 Seasons
764   TV Shows  6 Seasons
1374  TV Shows  6 Seasons
2287  TV Shows  6 Seasons
2799  TV Shows  6 Seasons

In [108]:
# Identifier des contenus similaires en faisant correspondre des caractéristiques textuelles
which python

SyntaxError: invalid syntax (2396525027.py, line 2)