In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import spacy
#%pip install spacy

In [2]:
if not spacy.util.is_package("en_core_web_sm"):
    # Install the model
    spacy.cli.download("en_core_web_sm")
    
# Load the installed model
nlp = spacy.load("en_core_web_sm")

In [3]:
df = pd.read_csv("C:\\Users\\Administrateur\\Desktop\\Amazon-Analysis-Project\\amazon.csv")
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [4]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [5]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [6]:
df.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9663,False,False,False,False,False,True,True,False,False,False,False,False
9664,False,False,False,True,False,True,True,False,False,False,False,False
9665,False,False,False,False,False,True,True,False,False,False,False,False
9666,False,False,False,True,False,True,True,False,False,False,False,False
9667,False,False,False,False,False,True,True,False,False,False,False,False

In [7]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9663    False
9664    False
9665    False
9666    False
9667    False
Length: 9668, dtype: bool

In [8]:
# top 5 meilleurs catégories

top_five_category = df["listed_in"].value_counts().head(5)
top_five_category

Drama              986
Comedy             536
Drama, Suspense    399
Comedy, Drama      377
Animation, Kids    356
Name: listed_in, dtype: int64

In [9]:
# Top 5 des réalisateurs

top_five_director = df["director"].value_counts().head(5)
top_five_director

Mark Knight              113
Cannis Holder             61
Moonbug Entertainment     37
Jay Chapman               34
Arthur van Merwijk        30
Name: director, dtype: int64

In [10]:
# Les dix meilleurs acteurs

top_ten_actors = df['cast'].str.split(',')
top_ten_actors.explode().value_counts().head(10)

Maggie Binkley        56
1                     35
Gene Autry            32
 Nassar               30
 Champion             29
Anne-Marie Newland    25
 Prakash Raj          23
Roy Rogers            23
Cassandra Peterson    22
John Wayne            21
Name: cast, dtype: int64

In [11]:
df_listed = df["listed_in"].str.split(', ')
df_listed.explode().value_counts()

Drama                        3687
Comedy                       2099
Action                       1657
Suspense                     1501
Kids                         1085
Documentary                   993
Special Interest              980
Horror                        875
Romance                       674
Animation                     547
and Culture                   483
Entertainment                 483
Arts                          483
Science Fiction               457
International                 355
TV Shows                      263
Adventure                     259
Western                       234
Sports                        160
Music Videos and Concerts     155
Unscripted                    152
Arthouse                      141
LGBTQ                         113
Young Adult Audience           87
Fitness                        83
Anime                          80
Fantasy                        68
Faith and Spirituality         66
Military and War               44
Historical                     31
Talk Show and Variety          14
Name: listed_in, dtype: int64

In [23]:
# Les cinq meilleures séries télévisées avec le plus grand nombre de saisons.
# méthode 1
tv_shows = df[df['type'] == 'TV Show']
tv_shows.sort_values(by='duration', ascending=False).head(5)[['duration', 'type']]

       duration     type
800   9 Seasons  TV Show
185   9 Seasons  TV Show
1081  9 Seasons  TV Show
3571  9 Seasons  TV Show
867   9 Seasons  TV Show

In [18]:
# Les cinq meilleures séries télévisées avec le plus grand nombre de saisons.
# méthode2

#tv_shows = df.loc[df["listed_in"].str.contains("TV Shows", na=False), ["listed_in", "duration"]]
#tv_shows.sort_values(by='duration', ascending=False).head(5)

     listed_in   duration
800   TV Shows  9 Seasons
764   TV Shows  6 Seasons
1374  TV Shows  6 Seasons
2287  TV Shows  6 Seasons
2799  TV Shows  6 Seasons

In [15]:
df["type"].value_counts()

Movie      7814
TV Show    1854
Name: type, dtype: int64

In [24]:
# Identifier des contenus similaires en faisant correspondre des caractéristiques textuelles
processed_texts = []
for text in df['description']:
    doc = nlp(text)
    processed_texts.append(doc)
df['processed_text_column'] = processed_texts
df['processed_text_column']

0       (A, small, fishing, village, must, procure, a,...
1       (A, Metro, Family, decides, to, fight, a, Cybe...
2       (After, a, man, discovers, his, wife, is, chea...
3       (Pink, breaks, the, mold, once, again, ,, brin...
4       (Teenage, Matt, Banting, wants, to, work, with...
                              ...
9663    (New, York, City, street, principles, get, an,...
9664    (This, is, Earth, ,, 2100AD, -, and, these, ar...
9665    (In, war, -, torn, Eastern, Europe, ,, a, worl...
9666    (The, series, tells, the, story, of, Diego, Ma...
9667    (Harry, Brown, ,, starring, two, -, time, Acad...
Name: processed_text_column, Length: 9668, dtype: object

In [33]:
similarityValue = []
reference_doc = processed_texts[0]  # Assuming the first document is the reference

for doc in processed_texts[0:]:
    similarity = reference_doc.similarity(doc)
    similarityValue.append(similarity)

# Create a new column 'Similarity' in the DataFrame and assign the similarity values
df['Similarity'] = similarityValue
df[["processed_text_column", "Similarity"]]

C:\Users\Administrateur\AppData\Local\Temp\ipykernel_10424\3616034610.py:5: UserWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  similarity = reference_doc.similarity(doc)

                                  processed_text_column  Similarity
0     (A, small, fishing, village, must, procure, a,...    1.000000
1     (A, Metro, Family, decides, to, fight, a, Cybe...    0.684264
2     (After, a, man, discovers, his, wife, is, chea...    0.728834
3     (Pink, breaks, the, mold, once, again, ,, brin...    0.750822
4     (Teenage, Matt, Banting, wants, to, work, with...    0.706670
...                                                 ...         ...
9663  (New, York, City, street, principles, get, an,...    0.640603
9664  (This, is, Earth, ,, 2100AD, -, and, these, ar...    0.624926
9665  (In, war, -, torn, Eastern, Europe, ,, a, worl...    0.592568
9666  (The, series, tells, the, story, of, Diego, Ma...    0.678585
9667  (Harry, Brown, ,, starring, two, -, time, Acad...    0.705151

[9668 rows x 2 columns]

In [57]:
# Netflix/Amazon/Disney se concentre-t-il davantage sur les séries télévisées que sur les films ces dernières années ?
recent_years = df[df['release_year'] >= 2019] 

tv_show_count = recent_years[recent_years['type'] == 'TV Show'].shape[0]
movie_count = recent_years[recent_years['type'] == 'Movie'].shape[0]

if tv_show_count > movie_count:
    print("Amazon focuses more on TV shows in recent years.")
else:
    print("Amazon focuses more on movies in recent years.")

#df["type"].value_counts()

Amazon focuses more on movies in recent years.